body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header {
    background-color: #e0f7fa;
    color: #007bb5;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

header p {
    margin: 0;
    font-size: 1.5rem;
}

section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
}

h2 {
    color: #007bb5;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e0f7fa;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}